body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(250, 250, 250);
}

h2{
    font-weight: 600;
    color: black;
}
table, th, tr, td{
    border: 1px solid #979a9c;
    border-collapse: collapse;
    position: relative;
    padding: 10px;
    justify-content: center;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3498DB;
    color: white;
  }

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

#tabel1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* . for class, # for id */